<div class="effeckt effeckt-demo-list-items group">

  <header>
    <h2>
      Topcoat + Effeckt.css &middot; List Items
      <a href="listitems.html">#</a>
    </h2>
    <span class="source">
      Source:
      <a href="http://css-tricks.com/transitional-interfaces-coded/">
        CSS-Tricks
      </a>
    </span>
  </header>

  <div class='effeckt-list-wrap'>
    <div class='topcoat-list__container half'>
      <h6 class='topcoat-list__header'>Gap, Slide In/Slide Out</h6>
      <ul class="effeckt-list" data-type="pop-in">
        <li class="topcoat-list__item">list item</li>
        <li class="topcoat-list__item">list item</li>
        <li class="topcoat-list__item">list item</li>
        <li class="topcoat-list__item">list item</li>
      </ul>
    </div>
    <button class="add topcoat-button js-handler--slide-in">Add</button>
    <button class="remove topcoat-button">Remove</button>
  </div>

  <div class="effeckt-list-wrap">
    <div class='topcoat-list__container half'>
      <h6 class='topcoat-list__header'>Expand In/Shrink Out</h6>
      <ul class="effeckt-list" data-type="expand-in">
        <li class="topcoat-list__item">list item</li>
        <li class="topcoat-list__item">list item</li>
        <li class="topcoat-list__item">list item</li>
        <li class="topcoat-list__item">list item</li>
      </ul>
    </div>
    <button class="add topcoat-button js-handler--expand-in">Add</button>
    <button class="remove topcoat-button">Remove</button>
  </div>

  <div class="effeckt-list-wrap">
    <div class='topcoat-list__container half'>
      <h6 class='topcoat-list__header'>Wobble In/Wobble Out</h6>
      <ul class="effeckt-list" data-type="wobble-in">
        <li class="topcoat-list__item">list item</li>
        <li class="topcoat-list__item">list item</li>
        <li class="topcoat-list__item">list item</li>
        <li class="topcoat-list__item">list item</li>
      </ul>
    </div>
    <button class="add topcoat-button js-handler--wobble-in">Add</button>
    <button class="remove topcoat-button">Remove</button>
  </div>

  <div class="effeckt-list-wrap">
    <div class='topcoat-list__container half'>
      <h6 class='topcoat-list__header'>Flip In/Flip Out</h6>
      <ul class="effeckt-list" data-type="flip-in">
        <li class="topcoat-list__item">list item</li>
        <li class="topcoat-list__item">list item</li>
        <li class="topcoat-list__item">list item</li>
        <li class="topcoat-list__item">list item</li>
      </ul>
    </div>
    <button class="add topcoat-button js-handler--flip-in">Add</button>
    <button class="remove topcoat-button">Remove</button>
  </div>

</div>
