
<div class="todo {{#if todo.done}}done{{/if}}">

	<div class="todo-content">{{todo.content}}
		<span class="todo-destroy"></span>
	</div>

	<div class="edit">
	<input class="todo-input" type="text" value="{{todo.content}}">
	</div>

</div>






