<nav class="effeckt-off-screen-nav topcoat-list__container" id="effeckt-off-screen-nav">

  <h4 class="topcoat-list__header">
    Navigation
    <a href="#0" id="effeckt-off-screen-nav-close" class="effeckt-off-screen-nav-close">×</a>
  </h4>

  <ul class="topcoat-list">
    <li class="topcoat-list__item"><a href="#0">This</a></li>
    <li class="topcoat-list__item"><a href="#0">Little</a></li>
    <li class="topcoat-list__item"><a href="#0">Piggy</a></li>
    <li class="topcoat-list__item"><a href="#0">Went</a></li>
    <li class="topcoat-list__item"><a href="#0">To</a></li>
    <li class="topcoat-list__item"><a href="#0">Market</a></li>
  </ul>

</nav>